{% extends 'layout.html' %}            
{% block content %}
<h2 id="album_id">Add album</h2>
{% if errors %}
<aside id="errors">
    <p>Whoops, there were some errors!</p>
    <ol>
    {% for error in errors %}
        <li>{{ error }}</li>
    {% endfor %} 
    </ol>
</aside>
{% endif %}
<form id="add-new-album-form" name="add-new-album" class="form" method="post">
    <label for="album-title" >Title:</label>
    <input type="text" id="album-title" name="album-title" minlength=0 required placeholder="Example Title"/>
    <label for="album-release-year" >Release year:</label>
    <input type="number" id="album-release-year" name="album-release-year" minlength=0 required="true" step="1" placeholder="Example: 1999" title="Input the album's release year, typically this will be between 1900 - current year." />
    <label for="album-artist-id" >Artist id:</label>
    <input type="number" id="album-artist-id" name="album-artist-id" required="true" step="1" title="This is an ugly pattern, but necessary for the moment" placeholder="Example: 1" />
    <button type="submit" id="submit-new-album-button" name="submit-new-album">Submit</button>
    <button type="reset">clear</button>
</form>
{% endblock %}
