{% extends 'layout.html' %}
{% block content %}            
<h2>Albums</h2>
<a href="{{ url_for('add_new_album') }}">Add new album</a></li>
<table id="album-table">
    <caption>All albums in the library</caption>
    <thead>
        <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Release year</th>
            <th>Artist ID</th>
        </tr>
    </thead>
    <tbody>
        {% for album in albums %}
        <tr>
            <td>{{ album.id }}</td>
            <td><a title="{{ album.title }}" href="{{ url_for('get_album', id = album.id) }}">{{ album.title }}</a></td>
            <td>{{ album.release_year }}</td>
            <td><a title="{{ album.artist_id }}" href="{{ url_for('get_artist', id = album.artist_id) }}">{{ album.artist_id }}</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
