<!DOCTYPE html>
<html lang="en-GB">
    <head>
        <meta charset="utf-8">
        <title>Music Library App</title>
        <link rel="stylesheet" href="http://localhost:5001/static/style.css">
    </head>
    <body>
        <header><h1>Music Library App</h1></header>
        <main>
            <h2>Albums</h2>
            <ol id="album-list">
                {% for album in albums %}
                <li class="album">{{ album.title }} ({{ album.release_year }})</li>
                {% endfor %}
            </ol>
        </main>
    </body>
</html>
