{% extends 'layout.html' %}            
{% block content %}
<table id="album-table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Release year</th>
            <th>Artist</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{ album.id }}</td>
            <td><a title="{{ album.title }}" href="{{ url_for('get_album', id = album.id) }}">{{ album.title }}</a></td>
            <td>{{ album.release_year }}</td>
            <td><a title="{{ artist.name }}" href="{{ url_for('get_artist', id = artist.id) }}">{{ artist.name }}</a></td>
        </tr>
    </tbody>
</table>
<h3>Options</h3>
<form id="album-options" method="POST" action="/albums/delete/{{ album.id }}">
    <button type="submit" id="delete-album-button" value="" class="delete-button" name="delete-album">Delete album</button>
</form
{% endblock %}
