<!DOCTYPE html>
<html lang="en-GB">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Music Library App</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        
        <meta name="theme-color" content="blue">
    </head>
    <body>
        <header id="site-header">
            <div id="cd"><div id="cd-hole"></div></div>
            <h1 id="site-header-title"><a href="{{ url_for('index') }}">Music Library App!</a></h1>
            <nav id="header-nav">
                <ul id="header-menu">
                    <li id="header-menu-item"><a href="{{ url_for('index') }}">Home</a></li>
                    <li id="header-menu-item"><a href="{{ url_for('get_all_artists') }}">Artists</a></li>
                    <li id="header-menu-item"><a href="{{ url_for('get_all_albums') }}">Albums</a></li>
                </ul>
            </nav>
        </header>
        <main>
            {% block content %}{% endblock %}
        </main>
        <script>
            let playButton = document.getElementById('cd');

            playButton.addEventListener("click", play, false);

            function play() {
                var audio = document.getElementById("audio");
                audio.play()
            }
        </script>
        <audio id="audio" src="{{ url_for('static', filename='DJ.mp3') }}"></audio>
    </body>
</html>
